body {
	font-family: 'Slabo 27px', serif;
	color: #5F5E5D;
}

a {
    text-decoration: none;
    color: #64B6B1;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}


img {
	max-width: 80%;
    margin: 0 auto;
}

div.books div.cover {
    width: 50%;
    float: left;
    text-align: center;
}

div.books div.data {
    float: right;
    width: 50%;  
    overflow: auto;  
}

div.books div.data dt {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #E87162;
    border-radius: 5px;
    padding: 0.2em 0.5em;   
}

div.books div.data dd {
    padding: 0.2em 0.5em;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: justify;
}

button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #64B6B1;
    padding: 0.2em 0.5em; 
    border: 0;  
}

table img {
    width: 100px;
}

table {
	margin: 0px auto;
	border-collapse: collapse;
}

table th {
	background-color: #5F5E5D;
	color: #fff;
	font-size: 1.2em;
}

table td, table th {
	padding: 0.2em 0.5em;
}

table tr:nth-child(odd){
	background-color: #DED4B9;
}
