body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin:0; padding: 0;
    background-color: dimgray;
}

div#wrapper{
    margin:0; padding: 0;
}

header {
    margin:0; padding: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: white;
    padding: 1em;
}

section {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px white;
}

nav ul li {
    margin: 0;
    padding: 1em;
    border-top: solid 1px white;
}

nav ul li:nth-child(1) {
    background-color: #F22E3E;
}
nav ul li:nth-child(2) {
    background-color: #3D3959;
}
nav ul li:nth-child(3) {
    background-color: #72A684;
}
nav ul li:nth-child(4) {
    background-color: #F29A2E;
}
nav ul li:nth-child(5) {
    background-color: #F26835;
}
nav ul li:nth-child(6) {
    background-color: #8C5360;
}

nav ul li a {
    color: white;
}

section {
    background-color: white;
    padding: 2em;
}

section ul {
    list-style: none;
    margin: 0; padding: 0;
}

section input {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.2em;

}

footer {
    color: white;
    padding: 3em 0;
    text-align: center;
}
