* {
    margin: 0px;
    padding: 0px;    
}

body {
    font-family: Arial, sans-serif;    
    margin: 0px auto; 
    width: 400px;
}

#wrapper {
    background-color: #E8E6ED;
}

header, footer, aside, nav, article {
	display: block;
}

header {
    background: url(../i/calendar.png) no-repeat 10px center #fff;
    height: 60px;    
}

header h1 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    line-height: 60px;
}

a#more {
    background-color:  #939296;
    display: block;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

nav {
    background-color: #939296;
    overflow: hidden;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 70px;
    text-align: center;

}

nav ul li a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav ul li.selected {
    background-color: #191919;
}


nav ul li a:hover {
    background-color: #668E59;
}

section {
    clear: both;
}

section > h1 {
    background-color: #191919;
    color: #fff;
    padding: 25px 0px 25px 5px;
}

article {
    border: solid 1px #939296;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 10px 0px 10px;
}

article h1 {
    color: #939296;
    font-size: 18px;
    font-weight: normal;
    padding: 5px;
}

article time, article p.tags, article p.creator { 
    padding: 5px;
}

article p.creator {
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

article time {
    color: #fff;
    background-color: #668E59;
    border-radius: 5px;
    margin: -10px;
    font-weight: bold;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}
