header nav, header div.title h3, header div.title p, section, footer h2, footer form, footer div {
    width: 1200px;
    margin: 0 auto;
}

header nav h1 {
    padding-left: 0;
}

header nav div {
    padding-right: 0;
}

header div.title {
    background-image: url('../img/background-lg.jpg');
}

header div.title p {
    margin-top: 2em;
}

section#zone2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

section#zone3 div {
    width: 45%;
}

section#zone3 div.text {
    padding-left:  5%;
}

footer form {
    width: 50%;
    margin: 2em auto;
}
