header div.title {
    background-image: url('../img/background-md.jpg');
}

section#zone2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
}

footer form {
    width: 70%;
    margin: 0 auto;
}
